In [262]:
import pandas as pd
import numpy as np
from __future__ import division
import collections

# Visualizing All the Historical Data

Let's first take a look at all the historical data we have. These are stats from the 1985 - 2015 NCAA basketball seasons.

In [72]:
# This one contains stats for every single regular season game played between 1985 and 2015. It mainly
# contains info on the score of the game, the IDs for each team, and where the game was played.
reg_season_compact_pd = pd.read_csv('RegularSeasonCompactResults.csv')
reg_season_compact_pd.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [183]:
# This one expands on the previous data frame by going into more in depth stats like 3 point field goals,
# free throws, steals, blocks, etc. 
reg_season_detailed_pd = pd.read_csv('RegularSeasonDetailedResults.csv')
reg_season_detailed_pd.columns

Index([u'Season', u'Daynum', u'Wteam', u'Wscore', u'Lteam', u'Lscore', u'Wloc',
       u'Numot', u'Wfgm', u'Wfga', u'Wfgm3', u'Wfga3', u'Wftm', u'Wfta',
       u'Wor', u'Wdr', u'Wast', u'Wto', u'Wstl', u'Wblk', u'Wpf', u'Lfgm',
       u'Lfga', u'Lfgm3', u'Lfga3', u'Lftm', u'Lfta', u'Lor', u'Ldr', u'Last',
       u'Lto', u'Lstl', u'Lblk', u'Lpf'],
      dtype='object')

In [14]:
# Don't think this data is honestly that important. Just contains the region areas for the tournament each 
# year. There isn't really a distinct "home field" advantage in the tourney because the games are supposed
# to be on neutral sites. 
seasons_pd = pd.read_csv('Seasons.csv')
seasons_pd.head()

   Season     Dayzero Regionw    Regionx    Regiony    Regionz
0    1985  10/29/1984    East       West    Midwest  Southeast
1    1986  10/28/1985    East    Midwest  Southeast       West
2    1987  10/27/1986    East  Southeast    Midwest       West
3    1988   11/2/1987    East    Midwest  Southeast       West
4    1989  10/31/1988    East       West    Midwest  Southeast

In [261]:
teams_pd = pd.read_csv('Teams.csv')
teamList = teams_pd['Team_Name'].tolist()
teams_pd.head()

   Team_Id    Team_Name
0     1101  Abilene Chr
1     1102    Air Force
2     1103        Akron
3     1104      Alabama
4     1105  Alabama A&M

In [217]:
# Finding Kansas's Team_id cuz Frank Mason is too good
print teams_pd[teams_pd['Team_Name'] == 'Kansas']

     Team_Id Team_Name
141     1242    Kansas

In [30]:
# Jk, Lonzo Ball > Frank Mason
print teams_pd[teams_pd['Team_Name'] == 'UCLA']

     Team_Id Team_Name
316     1417      UCLA

In [36]:
# This one contains the stats for every single NCAA tournament game from 1985 to 2015
tourney_compact_pd = pd.read_csv('TourneyCompactResults.csv')
tourney_compact_pd.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985     136   1116      63   1234      54    N      0
1    1985     136   1120      59   1345      58    N      0
2    1985     136   1207      68   1250      43    N      0
3    1985     136   1229      58   1425      55    N      0
4    1985     136   1242      49   1325      38    N      0

In [35]:
# More deatiled tourney stats (except only stats from 2003 :( )
tourney_detailed_pd = pd.read_csv('TourneyDetailedResults.csv')
tourney_detailed_pd.head()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf
0,2003,134,1421,92,1411,84,N,1,32,69,...,31,14,31,17,28,16,15,5,0,22
1,2003,136,1112,80,1436,51,N,0,31,66,...,16,7,7,8,26,12,17,10,3,15
2,2003,136,1113,84,1272,71,N,0,31,59,...,28,14,21,20,22,11,12,2,5,18
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,12,17,14,17,20,21,6,6,21
4,2003,136,1143,76,1301,74,N,1,27,64,...,21,15,20,10,26,16,14,5,8,19

In [37]:
# This one tells you what seed each team was for a given tournament year
tourney_seeds_pd = pd.read_csv('TourneySeeds.csv')
tourney_seeds_pd.head()

   Season Seed  Team
0    1985  W01  1207
1    1985  W02  1210
2    1985  W03  1228
3    1985  W04  1260
4    1985  W05  1374

In [197]:
# Seeing what seed Duke was in every tourney
duke_id = teams_pd[teams_pd['Team_Name'] == 'Duke'].values[0][0]
tourney_seeds_pd[tourney_seeds_pd['Team'] == duke_id]

      Season Seed  Team
34      1985  Y03  1181
64      1986  W01  1181
164     1987  Y05  1181
193     1988  W02  1181
257     1989  W02  1181
322     1990  W03  1181
417     1991  Y02  1181
448     1992  W01  1181
530     1993  X03  1181
593     1994  X02  1181
743     1996  Y08  1181
785     1997  X02  1181
880     1998  Z01  1181
896     1999  W01  1181
960     2000  W01  1181
1024    2001  W01  1181
1122    2002  Y01  1181
1205    2003  Z03  1181
1219    2004  W01  1181
1316    2005  Y01  1181
1349    2006  W01  1181
1467    2007  Z06  1181
1529    2008  Z02  1181
1545    2009  W02  1181
1625    2010  X01  1181
1692    2011  X01  1181
1777    2012  Y02  1181
1844    2013  Y02  1181
1913    2014  Y03  1181
1963    2015  X01  1181
2068    2016  Z04  1181

In [70]:
# Don't know how helpful this is tbh, because it just tells you what the seeds of the stronger
# and weaker seeds are (assuming that the favored team wins??), so its always 1 vs 16 and then 
# 1 vs 8 and 1 vs 4..
tourney_slots_pd = pd.read_csv('TourneySlots.csv')
tourney_slots_pd.head()

   Season  Slot Strongseed Weakseed
0    1985  R1W1        W01      W16
1    1985  R1W2        W02      W15
2    1985  R1W3        W03      W14
3    1985  R1W4        W04      W13
4    1985  R1W5        W05      W12

# Features

One of the most important parts of this competition is determining what features are the most important
to determining which team in a head to head matchup will win. Possible features???

* Number of regular season wins 
* Seed Number
* Any head to head matchup in the season?
* Number of top 25 wins in a season
* Number of top 25 games played in a season
* W-L record against common opponents
* Points per game scored
* Points per game allowed (Really important imo)
* 3 Pointers  made per game (Really important imo)
* 3 Pointers  allowed per game
* Turnovers per game
* Avg Steals/Blocks/Assists/Rebounds (How important are these stats tho??)
* Team's Conference (ACC, Big Ten, etc)
* Conference W-L record
* Conference Strength of Schedule
* Nonconference W-L record 
* Nonconference Strength of Schedule
* Regular Season Conference Champion?
* Conference Tournament Champion?
* Number of seniors on team (shows experience)
* Number of freshman on team (can they handle the big stage)
* Number of home wins
* Number of road wins

Given that we know the above information for Team X and Team Y, can we make a model that determines who has the 
better probability of winning?

# Model

Let's make this supervised trianing problem where our model with take in 2 d dimensional vectors, representing the two teams playing in the tournament. Each d dimensional vector will contain information about the team for that year. Below are the features we end up using. 

* Regular Season Wins 
* Points per game season average 
* Points per game allowed season average
* Whether or not in Power 5 conference (ACC, Big Ten, Big 12, SEC, Pac 12) - Binary label
* Number of 3's per game
* Number of 3's allowed per game
* Tournament Seed

In [149]:
listACCteams = ['North Carolina','Virginia','Florida St','Louisville','Notre Dame','Syracuse','Duke','Virginia Tech','Georgia Tech','Miami','Wake Forest','Clemson','NC State','Boston College','Pittsburgh']
listPac12teams = ['Arizona','Oregon','UCLA','California','USC','Utah','Washington St','Stanford','Arizona St','Colorado','Washington','Oregon St']
listSECteams = ['Kentucky','South Carolina','Florida','Arkansas','Alabama','Tennessee','Mississippi St','Georgia','Ole Miss','Vanderbilt','Auburn','Texas A&M','LSU','Missouri']
listBig10teams = ['Maryland','Wisconsin','Purdue','Northwestern','Michigan St','Indiana','Iowa','Michigan','Penn St','Nebraska','Minnesota','Illinois','Ohio St','Rutgers']
listBig12teams = ['Kansas','Baylor','West Virginia','Iowa St','TCU','Kansas St','Texas Tech','Oklahoma St','Texas','Oklahoma']

In [192]:
def checkPower5Conference(team_id):
    teamName = teams_pd.values[team_id-1101][1]
    if (teamName in listACCteams or teamName in listBig10teams or teamName in listBig12teams
       or teamName in listSECteams or teamName in listPac12teams):
        return 1
    else:
        return 0

In [266]:
def getSeasonData(team_id, year):
    # The data frame below holds stats for every single game in the given year
    year_data_pd = reg_season_detailed_pd[reg_season_detailed_pd['Season'] == year]
    # Finding number of points per game
    gamesWon = year_data_pd[year_data_pd.Wteam == team_id] 
    totalPointsScored = gamesWon['Wscore'].sum()
    gamesLost = year_data_pd[year_data_pd.Lteam == team_id] 
    totalGames = gamesWon.append(gamesLost)
    numGames = len(totalGames.index)
    totalPointsScored += gamesLost['Lscore'].sum()
    
    # Finding number of points per game allowed
    totalPointsAllowed = gamesWon['Lscore'].sum()
    totalPointsAllowed += gamesLost['Wscore'].sum()
    
    #Finding number of 3's made per game
    total3sMade = (gamesWon['Wfgm3'].sum())
    total3sMade += (gamesLost['Lfgm3'].sum())
    
    #Finding number of 3's allowed per game
    total3sAllowed = (gamesWon['Lfgm3'].sum())
    total3sAllowed += (gamesLost['Wfgm3'].sum())
    
    #Finding tournament seed for that year
    tourneyYear = tourney_seeds_pd[tourney_seeds_pd['Season'] == year]
    seed = tourneyYear[tourneyYear['Team'] == team_id]
    if (len(seed.index) != 0):
        seed = seed.values[0][1]
        tournamentSeed = int(seed[1:3])
    else:
        tournamentSeed = 25 #Not sure how to represent if a team didn't make the tourney
    
    # Finding number of wins and losses
    numWins = len(gamesWon.index)
    # There are some teams who may have dropped to Division 2, so they won't have games 
    # a certain year. In this case, we don't want to divide by 0, so we'll just set the
    # averages to 0 instead
    if numGames == 0:
        avgPointsScored = 0
        avgPointsAllowed = 0
        avg3sMade = 0
        avg3sAllowed = 0
    else:
        avgPointsScored = totalPointsScored/numGames
        avgPointsAllowed = totalPointsAllowed/numGames
        avg3sMade = total3sMade/numGames
        avg3sAllowed = total3sAllowed/numGames
    return [numWins, avgPointsScored, avgPointsAllowed, checkPower5Conference(team_id), avg3sMade, avg3sAllowed,
           tournamentSeed]

In [250]:
def compareTwoTeams(id_1, id_2, year):
    team_1 = getSeasonData(id_1, year)
    team_2 = getSeasonData(id_2, year)
    diff = [a - b for a, b in zip(team_1, team_2)]
    return diff

In [252]:
kentucky_id = teams_pd[teams_pd['Team_Name'] == 'Kentucky'].values[0][0]
duke_id = teams_pd[teams_pd['Team_Name'] == 'Duke'].values[0][0]
ucla_id = teams_pd[teams_pd['Team_Name'] == 'UCLA'].values[0][0]
kansas_id = teams_pd[teams_pd['Team_Name'] == 'Kansas'].values[0][0]
compareTwoTeams(kentucky_id, ucla_id, 2012)

[14,
 8.83272058823529,
 -3.59375,
 0,
 0.7352941176470589,
 -0.35294117647058787,
 -24]

In [267]:
def createTrainingSet(year):
    seasonDictionary = collections.defaultdict(list)
    for team in teamList:
        team_id = teams_pd[teams_pd['Team_Name'] == team].values[0][0]
        team_vector = getSeasonData(team_id, year)
        seasonDictionary[team] = team_vector
    return seasonDictionary
createTrainingSet(2012)

defaultdict(list,
            {'Abilene Chr': [0, 0, 0, 0, 0, 0, 25],
             'Air Force': [11,
              60.666666666666664,
              63.25925925925926,
              0,
              6.2592592592592595,
              6.851851851851852,
              25],
             'Akron': [21, 71.46875, 65.625, 0, 5.90625, 4.78125, 25],
             'Alabama': [21, 64.9375, 58.125, 1, 4.03125, 4.84375, 9],
             'Alabama A&M': [5,
              61.11538461538461,
              69.65384615384616,
              0,
              5.269230769230769,
              4.653846153846154,
              25],
             'Alabama St': [10,
              57.724137931034484,
              63.55172413793103,
              0,
              6.0,
              4.482758620689655,
              25],
             'Albany NY': [19,
              71.93939393939394,
              68.54545454545455,
              0,
              7.0606060606060606,
              7.181818181818182,
              25],
             'Alcorn St': [7,
              60.0,
              68.96428571428571,
              0,
              4.0,
              5.321428571428571,
              25],
             'Alliant Intl': [0, 0, 0, 0, 0, 0, 25],
             'American Univ': [20,
              64.45161290322581,
              61.70967741935484,
              0,
              7.096774193548387,
              5.548387096774194,
              25],
             'Appalachian St': [11,
              67.24137931034483,
              70.89655172413794,
              0,
              6.517241379310345,
              5.137931034482759,
              25],
             'Arizona': [23,
              69.47058823529412,
              62.6764705882353,
              1,
              7.411764705882353,
              4.794117647058823,
              25],
             'Arizona St': [10,
              61.0,
              66.3225806451613,
              1,
              5.838709677419355,
              6.806451612903226,
              25],
             'Ark Little Rock': [14,
              62.4,
              64.36666666666666,
              0,
              5.233333333333333,
              6.133333333333334,
              25],
             'Ark Pine Bluff': [11,
              61.0,
              69.42424242424242,
              0,
              4.393939393939394,
              6.96969696969697,
              25],
             'Arkansas': [18, 71.84375, 69.71875, 1, 6.40625, 5.9375, 25],
             'Arkansas St': [13,
              63.333333333333336,
              66.0,
              0,
              5.212121212121212,
              6.2727272727272725,
              25],
             'Armstrong St': [0, 0, 0, 0, 0, 0, 25],
             'Army': [11,
              66.62068965517241,
              70.72413793103448,
              0,
              7.793103448275862,
              7.310344827586207,
              25],
             'Auburn': [15,
              62.645161290322584,
              63.96774193548387,
              1,
              5.032258064516129,
              6.548387096774194,
              25],
             'Augusta': [0, 0, 0, 0, 0, 0, 25],
             'Austin Peay': [11,
              69.16129032258064,
              73.35483870967742,
              0,
              4.225806451612903,
              6.612903225806452,
              25],
             'BYU': [23,
              78.35483870967742,
              67.58064516129032,
              0,
              6.806451612903226,
              6.516129032258065,
              14],
             'Ball St': [14,
              63.0,
              61.48275862068966,
              0,
              6.379310344827586,
              6.689655172413793,
              25],
             'Baylor': [26,
              74.27272727272727,
              65.27272727272727,
              1,
              6.7272727272727275,
              6.2727272727272725,
              3],
             'Belmont': [26,
              81.39393939393939,
              67.51515151515152,
              0,
              8.818181818181818,
              5.909090909090909,
              14],
             'Bethune-Cookman': [16,
              64.93939393939394,
              67.0,
              0,
              5.212121212121212,
              5.121212121212121,
              25],
             'Binghamton': [2,
              56.83870967741935,
              70.74193548387096,
              0,
              4.258064516129032,
              6.741935483870968,
              25],
             'Birmingham So': [0, 0, 0, 0, 0, 0, 25],
             'Boise St': [12,
              67.41379310344827,
              67.03448275862068,
              0,
              7.620689655172414,
              7.275862068965517,
              25],
             'Boston College': [9,
              59.12903225806452,
              68.54838709677419,
              1,
              7.258064516129032,
              6.806451612903226,
              25],
             'Boston Univ': [16, 63.90625, 63.5625, 0, 6.3125, 6.34375, 25],
             'Bowling Green': [15,
              65.63333333333334,
              63.86666666666667,
              0,
              5.0,
              5.433333333333334,
              25],
             'Bradley': [7, 61.09375, 70.5, 0, 4.71875, 6.84375, 25],
             'Brooklyn': [0, 0, 0, 0, 0, 0, 25],
             'Brown': [7,
              60.7,
              69.6,
              0,
              7.566666666666666,
              7.233333333333333,
              25],
             'Bryant': [2,
              61.733333333333334,
              75.36666666666666,
              0,
              6.966666666666667,
              7.633333333333334,
              25],
             'Bucknell': [23, 68.46875, 61.5, 0, 5.4375, 6.625, 25],
             'Buffalo': [18,
              71.32142857142857,
              67.35714285714286,
              0,
              6.5,
              7.0,
              25],
             'Butler': [19,
              62.24242424242424,
              61.0,
              0,
              4.696969696969697,
              5.333333333333333,
              25],
             'C Michigan': [10,
              61.774193548387096,
              66.90322580645162,
              0,
              6.32258064516129,
              6.741935483870968,
              25],
             'CS Bakersfield': [15,
              68.17241379310344,
              70.27586206896552,
              0,
              6.241379310344827,
              6.275862068965517,
              25],
             'CS Fullerton': [19,
              76.21428571428571,
              71.60714285714286,
              0,
              8.571428571428571,
              6.785714285714286,
              25],
             'CS Northridge': [5,
              65.92307692307692,
              75.96153846153847,
              0,
              5.923076923076923,
              7.884615384615385,
              25],
             'CS Sacramento': [8,
              66.88461538461539,
              70.84615384615384,
              0,
              5.653846153846154,
              6.6923076923076925,
              25],
             'Cal Poly SLO': [16,
              63.806451612903224,
              60.61290322580645,
              0,
              6.806451612903226,
              4.967741935483871,
              25],
             'California': [24,
              71.66666666666667,
              61.78787878787879,
              1,
              4.636363636363637,
              5.484848484848484,
              12],
             'Campbell': [16,
              73.12903225806451,
              74.38709677419355,
              0,
              5.161290322580645,
              6.838709677419355,
              25],
             'Canisius': [5,
              65.5,
              75.7,
              0,
              6.366666666666666,
              7.466666666666667,
              25],
             'Cent Arkansas': [6,
              69.03846153846153,
              81.46153846153847,
              0,
              5.3076923076923075,
              5.576923076923077,
              25],
             'Centenary': [0, 0, 0, 0, 0, 0, 25],
             'Central Conn': [13,
              69.96551724137932,
              70.27586206896552,
              0,
              6.206896551724138,
              6.310344827586207,
              25],
             'Charleston So': [16,
              75.35714285714286,
              73.21428571428571,
              0,
              8.214285714285714,
              7.142857142857143,
              25],
             'Charlotte': [13,
              67.0,
              68.86666666666666,
              0,
              6.4,
              7.033333333333333,
              25],
             'Chattanooga': [8,
              68.24137931034483,
              71.6896551724138,
              0,
              7.172413793103448,
              9.793103448275861,
              25],
             'Chicago St': [3,
              62.07142857142857,
              78.25,
              0,
              5.142857142857143,
              8.25,
              25],
             'Cincinnati': [24,
              68.5,
              61.1764705882353,
              0,
              7.147058823529412,
              5.470588235294118,
              6],
             'Citadel': [4,
              62.035714285714285,
              72.85714285714286,
              0,
              5.214285714285714,
              6.821428571428571,
              25],
             'Clemson': [16,
              64.54838709677419,
              60.645161290322584,
              1,
              5.516129032258065,
              5.741935483870968,
              25],
             'Cleveland St': [21,
              65.35483870967742,
              59.67741935483871,
              0,
              6.580645161290323,
              4.806451612903226,
              25],
             'Coastal Car': [15,
              69.57692307692308,
              67.5,
              0,
              4.8076923076923075,
              7.038461538461538,
              25],
             'Col Charleston': [19,
              70.6774193548387,
              68.29032258064517,
              0,
              7.903225806451613,
              6.387096774193548,
              25],
             'Colgate': [8, 63.1, 73.63333333333334, 0, 6.6, 7.4, 25],
             'Colorado': [21, 66.28125, 63.5625, 1, 5.5625, 6.25, 11],
             'Colorado St': [20,
              71.03225806451613,
              68.35483870967742,
              0,
              6.0,
              7.258064516129032,
              11],
             'Columbia': [13,
              63.32142857142857,
              63.035714285714285,
              0,
              6.464285714285714,
              5.5,
              25],
             'Connecticut': [20,
              68.84848484848484,
              64.12121212121212,
              0,
              5.393939393939394,
              7.242424242424242,
              9],
             'Coppin St': [11,
              74.18518518518519,
              76.81481481481481,
              0,
              9.74074074074074,
              8.777777777777779,
              25],
             'Cornell': [11,
              65.0,
              68.07407407407408,
              0,
              7.666666666666667,
              6.333333333333333,
              25],
             'Creighton': [28,
              80.03030303030303,
              69.54545454545455,
              0,
              8.181818181818182,
              6.454545454545454,
              8],
             'Dartmouth': [4,
              57.3448275862069,
              63.86206896551724,
              0,
              5.103448275862069,
              6.137931034482759,
              25],
             'Davidson': [24,
              77.35483870967742,
              67.90322580645162,
              0,
              7.741935483870968,
              5.258064516129032,
              13],
             'Dayton': [20, 71.6875, 67.09375, 0, 7.75, 5.625, 25],
             'DePaul': [12,
              74.12903225806451,
              76.70967741935483,
              0,
              7.225806451612903,
              5.0,
              25],
             'Delaware': [18,
              69.29032258064517,
              68.16129032258064,
              0,
              5.387096774193548,
              5.612903225806452,
              25],
             'Delaware St': [13,
              63.96296296296296,
              65.25925925925925,
              0,
              6.074074074074074,
              5.074074074074074,
              25],
             'Denver': [22,
              68.12903225806451,
              60.516129032258064,
              0,
              8.225806451612904,
              4.483870967741935,
              25],
             'Detroit': [20,
              70.87878787878788,
              67.93939393939394,
              0,
              4.454545454545454,
              6.7272727272727275,
              15],
             'Drake': [16,
              66.38709677419355,
              66.93548387096774,
              0,
              6.161290322580645,
              4.935483870967742,
              25],
             'Drexel': [27,
              64.66666666666667,
              55.42424242424242,
              0,
              6.121212121212121,
              4.303030303030303,
              25],
             'Duke': [27,
              77.51515151515152,
              68.45454545454545,
              1,
              8.121212121212121,
              4.454545454545454,
              2],
             'Duquesne': [15,
              71.83333333333333,
              71.7,
              0,
              6.466666666666667,
              6.533333333333333,
              25],
             'E Illinois': [10,
              63.925925925925924,
              68.92592592592592,
              0,
              4.925925925925926,
              6.333333333333333,
              25],
             'E Kentucky': [14,
              65.23333333333333,
              67.76666666666667,
              0,
              6.866666666666666,
              5.466666666666667,
              25],
             'E Michigan': [13,
              52.96774193548387,
              59.193548387096776,
              0,
              4.806451612903226,
              6.193548387096774,
              25],
             'E Washington': [13,
              71.3,
              71.93333333333334,
              0,
              8.566666666666666,
              6.3,
              25],
             'ETSU': [16,
              67.16666666666667,
              65.8,
              0,
              4.0,
              8.266666666666667,
              25],
             'East Carolina': [11,
              66.77777777777777,
              66.88888888888889,
              0,
              7.666666666666667,
              5.37037037037037,
              25],
             'Edwardsville': [8, 64.92, 72.72, 0, 6.68, 5.88, 25],
             'Elon': [13,
              68.24137931034483,
              72.62068965517241,
              0,
              7.241379310344827,
              6.517241379310345,
              25],
             'Evansville': [15,
              72.83333333333333,
              72.63333333333334,
              0,
              5.533333333333333,
              6.666666666666667,
              25],
             'F Dickinson': [3,
              60.758620689655174,
              72.6896551724138,
              0,
              3.7586206896551726,
              7.137931034482759,
              25],
             'FL Atlantic': [10,
              64.79310344827586,
              68.13793103448276,
              0,
              6.758620689655173,
              4.551724137931035,
              25],
             'FL Gulf Coast': [14,
              71.83870967741936,
              72.29032258064517,
              0,
              7.806451612903226,
              7.967741935483871,
              25],
             'Fairfield': [19,
              65.27272727272727,
              61.24242424242424,
              0,
              6.636363636363637,
              4.96969696969697,
              25],
             'Florida': [23,
              76.27272727272727,
              66.03030303030303,
              1,
              9.93939393939394,
              6.2727272727272725,
              7],
             'Florida A&M': [8,
              64.48387096774194,
              73.7741935483871,
              0,
              5.612903225806452,
              6.032258064516129,
              25],
             'Florida Intl': [8,
              63.142857142857146,
              67.10714285714286,
              0,
              5.142857142857143,
              6.321428571428571,
              25],
             'Florida St': [24,
              70.33333333333333,
              62.90909090909091,
              1,
              6.151515151515151,
              6.333333333333333,
              3],
             'Fordham': [10,
              61.96551724137931,
              71.51724137931035,
              0,
              4.758620689655173,
              7.620689655172414,
              25],
             'Fresno St': [11,
              65.12903225806451,
              66.80645161290323,
              0,
              5.903225806451613,
              5.548387096774194,
              25],
             'Furman': [13,
              63.62068965517241,
              65.75862068965517,
              0,
              6.655172413793103,
              5.103448275862069,
              25],
             'G Washington': [10,
              61.96774193548387,
              66.74193548387096,
              0,
              4.161290322580645,
              5.967741935483871,
              25],
             'Ga Southern': [13,
              65.35714285714286,
              68.28571428571429,
              0,
              5.285714285714286,
              6.035714285714286,
              25],
             'Gardner Webb': [10,
              64.16666666666667,
              67.33333333333333,
              0,
              5.8,
              5.633333333333334,
              25],
             'George Mason': [24,
              70.39393939393939,
              64.9090909090909,
              0,
              4.7272727272727275,
              5.878787878787879,
              25],
             'Georgetown': [22,
              68.43333333333334,
              59.1,
              0,
              5.466666666666667,
              4.633333333333334,
              3],
             'Georgia': [15, 60.9375, 62.96875, 1, 6.3125, 5.96875, 25],
             'Georgia St': [21, 67.65625, 59.25, 0, 5.15625, 6.5, 25],
             'Georgia Tech': [11,
              60.193548387096776,
              62.58064516129032,
              1,
              5.096774193548387,
              6.419354838709677,
              25],
             'Gonzaga': [25,
              73.96774193548387,
              63.193548387096776,
              0,
              6.387096774193548,
              6.0,
              7],
             'Grambling': [4,
              54.035714285714285,
              71.46428571428571,
              0,
              4.107142857142857,
              5.607142857142857,
              25],
             'Grand Canyon': [0, 0, 0, 0, 0, 0, 25],
             'Hampton': [12,
              64.66666666666667,
              66.81818181818181,
              0,
              5.545454545454546,
              6.757575757575758,
              25],
             'Hardin-Simmons': [0, 0, 0, 0, 0, 0, 25],
             'Hartford': [9,
              60.0,
              67.2258064516129,
              0,
              7.354838709677419,
              6.354838709677419,
              25],
             'Harvard': [25,
              65.06896551724138,
              55.03448275862069,
              0,
              5.793103448275862,
              4.551724137931035,
              12],